<div id="DeviceGrid" class="tab-pane active">
    <table id="DeviceGridTable" class="display">
        <thead>
            <tr class="display">
                <th>Device ID</th>
                <th>Device Type </th>
                <th>Device Desc</th>
                <th>Access Policy </th>
                <th>Maintainence Policy </th>
                <th>Patching Policy </th>
               @* <th>AntiVirus Policy </th>
                <th>BackUp Policy </th>*@
                <th>RMM Tool </th>
                <th>Misc Info </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
