@model List<ClientOnBoarding.Models.KeyValue>

@foreach (KeyValue keyVal in Model)
{
    <div class="DetailDilogBox">
        <div class="DetailDilogLeftBox"><strong>@keyVal.Key</strong></div>
        <div class="DetailDilogRightBox">@keyVal.Value</div>
        <div class="clear"></div>
        
        @*  <div class="pull-left LableFont">
            <label for="inputCompnay" class="col-lg-2 control-label LableWidth">@keyVal.Key</label>
        </div>
        <div class="pull-left">
            <div class="textBoxCompany">@keyVal.Value</div>
        </div>
        <div class="clearfix"></div>*@
    </div>
    
}
