<table id="SearchGridTable" class="display">
    <thead>
        <tr>
            <th>Customer Name </th>
            <th>Client Name </th>
            <th>Client Status </th>
            <th>Device ID</th>
            <th>Device Desc</th>            
            <th>Access Policy </th>
            <th>Maintainence Policy </th>
            <th>Patching Policy </th>
            <th>Tool Information </th>
           @* <th>AntiVirus Policy </th>
            <th>BackUp Policy </th>*@
            
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

