@*<div id="ContactsGrid" class="tab-pane active">
    <div class="pageBorder1">
        <div class="panel panel-default">
            <div class="girdBox">
                <div class="form-group contactsGridform">
                    <a class="buttonhover" data-action="ajax" id="add_antiviruspolicy" href="/SetupCustomer/AntiVirusPolicy" data-id="0" dialog-title="Add Client" dialog-resize="false" dialog-width="600" style="text-decoration: none; float: left;">Add Anti-Virus Policy</a>
                </div>
                <table id="AVPTable" class="display">
                    <thead>
                        <tr>
                            <th>Policy Name</th>
                            <th>Product Name</th>
                            <th>Patching Time</th>
                            <th>Week</th>
                            <th>Month</th>
                            <th>Files Ext</th>
                            <th>File Type</th>
                            <th>File Path</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>*@
