@*<div id="ContactsGrid" class="tab-pane active">
    <div class="pageBorder1">
        <div class="panel panel-default">
            <div class="girdBox">
                <div class="form-group contactsGridform">
                    <a class="buttonhover" data-action="ajax" id="add_backuppolicy" href="/SetupCustomer/BackUpPolicy" data-id="0" dialog-title="Add Client" dialog-resize="false" dialog-width="600" style="text-decoration: none; float: left;">Add Backup Policy</a>
                </div>
                <table id="BPTable" class="display">
                    <thead>
                        <tr>
                            <td>Policy Name </td>
                            <td>Product Name </td>
                            <td>Backup Location</td>
                            <td>Back Up Image </td>
                            <td>BackUp Schedule </td>
                            <td>Details</td>
                            <td>Differentials /Day </td>
                            <td>BackUp Set </td>
                            <td>Full BackUp /Day</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>*@
