<div id="ContactsGrid" class="tab-pane active">
    <div class="pageBorder1">
        <div class="panel panel-default">
            <div class="girdBox">
                <div class="form-group contactsGridform">
                   
                    <a class="buttonhover" data-action="ajax" id="add_maintenancepolicy" href="/SetupCustomer/MaintenancePolicy" data-id="0" dialog-title="Add Client" dialog-resize="false" dialog-width="600" style="text-decoration: none; float: left;">Add Maintenance Policy</a>
                </div>
                <br><br>
                <table id="MPTable" class="display">
                    <thead>
                        <tr>
                            <th>Activity Name</th>
                            <th>Regular Schedule</th>
                            <th>Day Of Week</th>
                            @*<th>Month Of Date</th>*@
                            <th>Schedule Time</th>
                            <th>Start Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
