<div class="container companyVenderSubMenu">
    <div class="row">
        <div class="span2">
            <ul class="nav nav-pills nav-stacked">@*nav-pills*@
                <li class="active">
                    <a href="#" style="background-color: #563d7c">Company/Contacts</a>   </li>
                <li><a href="#">Add/Edit Vendor</a></li>
                <li><a href="#">Practice Editor </a></li>
            </ul>
        </div>
    </div>
</div>
