<script src="~/Scripts/ManageStaff/ManageStaff.js"></script>

<div id="ContactsGrid" class="tab-pane active">
    <div class="pageBorder">
        <div class="form-group contactsGridform">
            <a class="buttonhover" data-action="ajax" id="add_staff" href="/ManageStaff/Staff" data-id="0" dialog-title="Add Contact" dialog-resize="false" dialog-width="600" style="text-decoration: none; float: left">Add Staff</a>
        </div>
        <br />
        <br />
        <table id="StaffDataTable" class="display">
            <thead>
                <tr>
                    <th>Staff Name</th>
                    <th>Email Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
