<script src="~/Scripts/ManageClient/ManageClient.js"></script>

<div id="ContactsGrid" class="tab-pane active">
    <div class="pageBorder">
        <div class="form-group contactsGridform">
            <a class="buttonhover" data-action="ajax" id="add_client" href="/ManageClient/Client" data-id="0" dialog-title="Add Client" dialog-resize="false" dialog-width="600" style="text-decoration: none; float: left;">Add Client</a>
        </div>
        <br />
        <br />
        <table id="clientDataTable" class="display">
            <thead>
                <tr>
                    <th><strong>Business Name</strong> </th>
                    <th><strong>Service Type</strong> </th>
                    <th><strong>Time Zone</strong> </th>
                    <th><strong>Status</strong></th>
                    <th><strong></strong></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
