<script src="~/Scripts/ManageUser/ManageUser.js"></script>

<div id="UsersGrid" class="tab-pane active">
    <div class="pageBorder">
        <div class="form-group contactsGridform">
            <a class="buttonhover" data-action="ajax" data-roleurl="GetNormalUsers" id="Add_User" href="/ManageUser/User?RoleID=3" data-id="0"   style="text-decoration: none; float: left">Add Normal User</a>
        </div>
        <br />
        <br />
        <table id="UserDataTable" class="display">
            <thead>
                <tr>
                    <th>Customer Name</th>                   
                    <th>Email Address</th>
                    <th>Time Zone</th>
                    <th>Customer Contact Name</th>
                    <th>Noc Communication By</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>